.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/auth-bg.svg");
  background-size: cover;
}
.login_form {
  width: 320px;
  height: 300px;
  border-radius: 8px;
  background-color: #fff;
  padding-inline: 6px;
  padding-block: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.login_form > input {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding-inline: 6px;
}
.login_form > b {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  text-align: center;
}
.login_form > p {
  color: #2ea254;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.login_form > button {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  background-color: #2ea254;
  color: #fff;
  font-size: 16px;
}
